* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Jura", sans-serif;
}

.nav,
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color: #000000 !important;
    transition: all 200ms linear !important;
}

a {
    text-decoration: none !important;
    color: #eeeeee !important;
}

.logs {
    text-decoration: none !important;
    color: #2C8D7C !important;
}

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    backdrop-filter: blur(5px);
}

.login-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 90%;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.login-container.active {
    opacity: 1;
    transform: translateY(0);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px !important;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    width: 150px !important;
    padding: 10px !important;
    background-color: #2C8D7C !important;
    color: rgb(255, 255, 255) !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    margin: 30px !important; 
}


button:hover {
    background-color: #0e453b !important;
    color: #ffffff !important;
}

img {
    width: 50%;
    max-height: 500px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 1s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

/* Definindo a animação */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    margin-bottom: 10px;
}

.title-home {
    text-align: center;
    padding: 40px;
    animation: fadeIn 1s ease-out;
}

.home {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color:#fff;
}


/* Banheiro */
.banheiro-container {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.banheiro-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.arrow {
    transition: transform 0.3s;
}

.arrow.open {
    transform: rotate(180deg);
}

.banheiro-content {
    margin-top: 10px;
}

.banheiro-child {
    margin: 5px 0;
}

.banheiro-sensores {
    margin-top: 10px;
}

.sensor-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.sensor {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.sensor-icon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2C8D7C;
}

.sensor h5 {
    font-size: 1.2rem;
    color: #434242;
    margin-bottom: 1rem;
}

.sensor-result {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000;
}

.sensor-warning {
    font-size: 0.9rem;
    color: red;
    margin-top: auto;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .sensor-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}


/* Estilo para o container de gráficos */
.charts-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    height: 100vh;
}

/* Estilo para os títulos dos sensores */
.chart-wrapper {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-wrapper h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: #2C8D7C;
}

/* Estilo para os gráficos (diário, semanal, mensal, anual) */
.sensor-charts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Estilo para cada gráfico individual */
.sensor-charts>div {
    background-color: #2C8D7C;
    color: #ffffff;
    flex: 1;
    min-width: 220px;
    /* Garantir ajuste para telas pequenas */
    max-width: 24%;
    padding: 1.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sensor-charts>div h4 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #fff;
}

.sensor-charts>div p {
    font-size: 0.9rem;
    color: #d9d9d9;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .sensor-charts>div {
        max-width: 48%;
    }
}

@media (max-width: 480px) {
    .sensor-charts {
        flex-direction: column;
        align-items: center;
    }

    .sensor-charts>div {
        max-width: 100%;
    }
}

/* Navbar */
.navbar,
.ml-auto {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 40px;
    background-color: #2C8D7C;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilizando o Navbar.Brand */
.navbar .navbar-brand {
    font-size: 30px !important;
    color: white !important;
    padding-left: 20px;
    transition: color 0.3s ease;
    margin-left: 20px;
}

/* Estilo personalizado para o Form.Check */
.custom-switch .form-check-input {
    width: 50px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 30px;
    position: relative;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.custom-switch .form-check-input:checked {
    background-color: #17473F;
}

.custom-switch .form-check-input:checked:before {
    left: 26px;
}

.custom-switch .form-check-input:focus {
    outline: none;
    box-shadow: none;
}

/* Remove estilos padrão do botão */
.profile-icon .dropdown-toggle {
    background: none;
    border: none;
    padding: 0;
    color: #ffffff;
    cursor: pointer;
}

.profile-icon .dropdown-toggle:focus {
    box-shadow: none;
}

/* Estilo do dropdown */
.profile-icon .dropdown-menu {
    position: absolute;
    top: 40px; /* Espaço abaixo do ícone */
    right: 0;
    background-color: #2C8D7C;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    min-width: 200px;
    z-index: 1100; /* Garante sobreposição */
    text-align: left;
}

/* Estilo dos links no dropdown */
.profile-icon .dropdown-menu a {
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.profile-icon .dropdown-menu a:hover {
    background-color: #0e453b;
    color: #ffffff;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .profile-icon .dropdown-menu {
        min-width: 150px;
    }
}

/* Estilos gerais para desktop */
body {
    font-size: 16px;
    background-color: #fff;
}

/* Estilos para dispositivos com largura de tela até 768px (geralmente tablets e smartphones) */
@media (max-width: 768px) {
    body {
        font-size: 14px;  /* Menor tamanho de fonte para telas menores */
    }

    .container {
        padding: 10px;  /* Ajuste o espaçamento */
    }
}  

.dark-mode {
    background-color: #000000;  /* Cor de fundo escura */
    color: #ffffff;  /* Cor do texto clara */
    transition: all 1s ease; 
}

.dark-mode .navbar{
    background-color: #2C8D7C;  /* Cor de fundo escura */
    color: #ffffff;  /* Cor do texto clara */
}

.dark-mode .login-container {
    background-color: #121212;  /* Cor de fundo escura */
    color: #ffffff;  /* Cor do texto clara */
}

.dark-mode .home {
    background-color: #000000;  /* Cor de fundo escura para o conteúdo da Home */
    transition: background-color 0.5s ease, color 0.5s ease;  /* Transição suave */
}

.dark-mode .title-home {
    color: #fff;
    transition: color 0.5s ease; /* Transição suave no título */
}

.dark-mode img {
    filter: brightness(0.7);  /* Torna a imagem mais escura no modo escuro */
    transition: filter 0.5s ease; /* Transição suave na imagem */
}

.dark-mode .logs {
    color: #00ff00; /* Cor dos links de logs no modo escuro */
    transition: color 0.5s ease;
}

.dark-mode a {
    color: #ffffff;  /* Cor do link no modo escuro */
    transition: color 0.5s ease; /* Transição suave nos links */
}

.dark-mode .custom-switch .form-check-input {
    background-color: #17473F;
    transition: background-color 0.3s ease;  /* Transição suave para o switch */
}

.dark-mode .custom-switch .form-check-input:checked {
    background-color: #92a6b5;
}

/* Efeitos de transição no hover dos links no modo escuro */
.dark-mode a:hover {
    color: #f1f1f1;
    transition: color 0.3s ease;
}

/* Ajustes para o overlay de login no modo escuro */
.login-overlay {
    background-color: rgba(0, 0, 0, 0.551);  /* Escurecendo o fundo no modo escuro */
    transition: background-color 0.5s ease; /* Transição no fundo */
}


.dark-mode .charts-container {
    background-color: #000000;  /* Cor de fundo para a área de gráficos */
}

.dark-mode{
    background-color: #000;
}

.dark-mode .sensor-charts>div {
    background-color: #2C8D7C;  /* Cor do gráfico em modo escuro */
    color: #ffffff;  /* Cor do texto dos gráficos */
}

.dark-mode .sensor-charts>div p {
    color: #d9d9d9; /* Texto dos gráficos mais suave no modo escuro */
}

.dark-mode .sensor{
    background-color: #444343;
    border: 1px solid #000000;

}

.dark-mode .sensor-container{
    background-color: #000000;
}